/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color palate 
Text: White or maybe the soft yellow from the lanterns


*/


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.toprow {
  min-width: 100%;
  height: 10vh;
  background-color: white;
  opacity: .4;

  display: flex;
  justify-content: center;
}

.dropdown {
  display: flex;
  align-content: center;
  position: relative;
}

.dropdown-menu {
  position:absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.active {
  opacity: 1;
}

.link {
  height: 10vh;
  text-decoration: none;
  color: grey;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.bg {
  min-height: 100%;
  /* Above code suggested by https://css-tricks.com/perfect-full-page-background-image/ */

  background-position: right;
  background-attachment: fixed;
  background-image: url('./bgimage\ compressed.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
