@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Color used in Colored Prawn Icon #E9967A */
  /* Gold color used in logo */
  --clr-accent-1: #d7c516;
  
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toprow {
  min-width: 100%;
  height: 10vh;
  background-color: white;

  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.dropdown {
  display: flex;
  align-content: center;
  position: relative;
  width: 100%;
}

.dropdown-menu {
  position:absolute;
  width: 100%;
  top: 100%;
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */
}

.dropdown :last-child {
  padding-bottom: 0;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown-item {
  height: 3.25rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-size: 1.25rem;

  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.dropdown-item a {
  text-decoration: none;
  color: black;
  align-self: center;
}

.menuitem a:hover,
.dropdown-item a:hover {
  color: var(--clr-accent-1);
}

ul {
  list-style: none;
}

.mobilemenubutton {
  height: 10vh;
  text-decoration: none;
  background-color: white;
  border: none;
}

/* Adjust so that it stays black when clicked */
.mobilemenubutton:hover {
  cursor: pointer;
}

.dropdown.active > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  width: 100vw;
}

.menubar {
  width: 30rem;
  font-size: 1.3rem;
  gap: 1rem;
  margin-right: 5rem;

  display: flex;
  flex-wrap: none;
  justify-content: space-around;
  align-items: center;
  
}

.menubar a {
  text-decoration: none;
  color: white;
}

.centerbox {
  margin-top: 3em;
  margin-left: clamp(5rem, 1vw + 11.5rem, 13rem);
  justify-self: flex-start;
  align-self: flex-start;
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centertop {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  border-bottom: 1px solid #d7c516;
}

.centerbottomdiv {
  color: #fff;
  font-size: clamp(1.5rem, 2vw + 1rem, 3.5rem);
}

.centerbottomblue {
  color: rgb(0, 166, 255);
  animation: animate 6s ease-in-out infinite;
  transform: translate(0%, -100%);
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.bg {
  min-height: 100%;
  /* Above code suggested by https://css-tricks.com/perfect-full-page-background-image/ */

  background-position: right;
  background-attachment: fixed;
  background-image: url('./images/bgimage.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

.menupagediv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.infobox {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: clamp(.5rem, 1vw + .8rem, 1.2rem);
}

.infobox p{
  padding: .5rem;
}

.filternav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.filternavinnerdiv {
  /* width: 282px; */
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.filterdiv {

  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-left: 1px black;
  border-style: groove;
  padding-left: clamp(10px, 1em, 5em);
  padding-right: clamp(10px, 1em, 5em);
}

.filterinputlabel {
  font-size: clamp(.5rem, 1vw + .4rem, 1rem);
}


.optionscarousel {
  background-color: white;
}

.foodcategories {
  padding: .5em;
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(5, clamp(2.5rem, 3vw + 3rem, 7rem)); */
  grid-template-columns: repeat(5, clamp(1.5rem, 2vw + 3rem, 7rem));
  /* grid-template-columns: repeat(5, 2rem); */
  gap: clamp(2rem, 1vw + .5rem, 4.5rem);
  margin-left: .5rem;
  margin-right: .5rem;
}

.foodoption {
  display: grid;
  grid-template-rows: 70% 30%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.foodoption h3 {
  font-size: clamp(1rem, 1vw + .5rem, 1.5rem);
  height: auto;
  text-align: center;
}

.foodoptionimage {
  width: clamp(1rem, 1vw + 2rem, 3rem);
  justify-self: center;
}

.foodoptionbutton {
  color: black;
  text-decoration: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.categorydiv {
  height: clamp(2rem, 3vw + 2rem, 5rem);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.menudiv {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: white;
  border: 3px solid var(--clr-accent-1);
  border-radius: 5px;
  width: 80%;
}


.menutitlecard {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menutitle {
  font-size: clamp(2.9rem, 2vw + 1rem, 3.5rem);
  color: white;
  border-bottom: 1px solid #d7c516;
  align-self: center;
  text-align: center;
  margin-top: 1rem;
}

.menulayout {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.menurow {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .3rem;
  border-bottom: 1px solid black;
}

.menurow span {
  text-align: center;
}

.itemnameprice {
  display: flex;
  justify-content: center;
  gap: .5rem;
  font-weight: 550;
  font-size: 1.1rem;
}

.itemdesc {
  text-align: center;
}

table {
  border: 1px solid black;
}

tr {
  border: 1px solid grey;
  height: 10vh;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 700px) {

  /* Home Page */
  .centerbox {
    margin-top: 3rem;
    margin-left: 0;
    justify-self: center;
    align-self: center;
  }

  .menudiv {
    margin-bottom: 7rem;
    width: 95%;
  }

  .foodcategories {
    gap: clamp(.1rem, .8vw, 10.5rem);
    
  }

  .categorydiv {
    height: clamp(2rem, 3vw + 3rem, 7rem);
  }
}

@media (min-width: 700px) {

  .filternavinnerdiv {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

}