/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Gold color used in logo */
  --clr-accent-1: #d7c516;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.toprow {
  min-width: 100%;
  height: 10vh;
  background-color: white;

  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
}

.dropdown {
  display: flex;
  align-content: center;
  position: relative;
  width: 100vw;
}

.dropdown-menu {
  position:absolute;

  top: 100%;
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */
}

.dropdown :last-child {
  padding-bottom: 0;
}

.dropdown-menu.active {
  opacity: 1;
}

.dropdown-item {
  height: 3.25rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-size: 1.25rem;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2rem;
}

.dropdown-item a {
  text-decoration: none;
  color: black;
  align-self: center;
}

.menuitem a:hover,
.dropdown-item a:hover {
  color: var(--clr-accent-1);
}

ul {
  list-style: none;
}

.mobilemenubutton {
  height: 10vh;
  text-decoration: none;
  background-color: white;
  border: none;
}

/* Adjust so that it stays black when clicked */
.mobilemenubutton:hover {
  cursor: pointer;
}

.dropdown.active > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  width: 100vw;
}

.menubar {
  width: 30rem;
  font-size: 1.3rem;
  gap: 1rem;
  margin-right: 5rem;

  display: flex;
  flex-wrap: none;
  justify-content: space-around;
  align-items: center;
  
}

.menubar a {
  text-decoration: none;
  color: white;
}

.centerbox {
  color: white;
  margin-top: 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centerbox > h2{
  border-bottom: 1px solid #d7c516;
}

.centerbox :first-child {
  font-size: clamp(.5rem, 5vw + 1rem, 1.5rem);
}

.centerbox :last-child {
  font-size: clamp(2rem, 5vw + 1rem, 1.5rem);
}

.bg {
  min-height: 100%;
  /* Above code suggested by https://css-tricks.com/perfect-full-page-background-image/ */

  background-position: right;
  background-attachment: fixed;
  background-image: url('./images/bgimage.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}